.box{
    width: 300px;
    height: 200px;
    border: 1px blue solid
    /* border-width: 2px;
    border-color: blue;
    border-style: solid; */
}

.bg-success{
    background-color: green;
}

.bg-warning{
    background-color: yellow;
}

.bg-danger{
    background-color: red;
}