*{
    margin: 0px;
}

.border{
    border: 1px black solid;
}

.parent{
    width: 50%;
    min-height: 400px;
    background-color: purple;
}

.parent>:nth-child(1){
    width: 50%;
    height: 100px;
    background-color: aqua;
}

.parent>:nth-child(2){
    width: 75%;
    height: 100px;
    background-color: brown;
}

.parent>:nth-child(3){
    width: 99.8vw;
    height: 100px;
    background-color: blueviolet;
}

.parent>:nth-child(4){
    width: 50vw;
    height: 100px;
    background-color: chartreuse;
}

.parent>:nth-child(5){
    width: 400px;
    height: 100px;
    background-color: chocolate;
}
