.border{
    border: 1px solid black;
    
}

.header,.footer{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding-left: 60px;
}



.footer{
    
    margin-top: 450px;
}

.w-25{
    width: 25%;
    height: 150px;
    border-radius: 50%;
}

.section{
    margin-left: auto;
    margin-top: -100px;
}

.aside{
    margin-right: auto;
}

.main{
    margin-left: auto;
    margin-right: auto;
}